.subscription-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  padding: 50px 0;
  background: #01031C;
  position: relative;
}

.subscription-card {
  width: 380px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.subscription-title {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}

.subscription-price-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.subscription-price-year {
  font-size: 18px;
  color: #cccccc;
  margin-left: 5px;
}

.subscription-daily-price {
  background: rgba(34, 51, 67, 0.9);
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #00ff7f;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.subscription-save {
  font-size: 15px;
  color: #e24e3a;
  margin-bottom: 20px;
  font-weight: bold;
}

.subscription-benefits {
  list-style: none;
  padding: 0;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.subscription-benefits li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.check-icon {
  color: #00ff7f;
  font-weight: bold;
  font-size: 18px;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 25px;
  background: #223343;
  color: #ffffff;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.subscribe-button:hover {
  background: #2b425a;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.arrow-icon {
  margin-left: 8px;
  font-weight: bold;
  font-size: 18px;
}

.subscription-guarantee {
  font-size: 13px;
  color: #cccccc;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .subscription-card {
      width: 90%;
  }
}