/* Seção do iPhone */
.iphone.section {
    padding: 5rem 0; /* Espaçamento em cima e embaixo da seção */
    box-sizing: border-box;
  }
  
  .section__title {
    text-align: center;
    margin-bottom: 3rem; /* Espaçamento abaixo do título */
    font-size: 2.5rem;
    color: white;
  }
  
  /* Grid de duas colunas */
  .iphone__grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
    gap: 3rem; /* Espaçamento entre as colunas */
    align-items: center; /* Centraliza os itens verticalmente */
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o grid na tela */
    margin-left: 10rem;
  }
  
  /* Estilo da coluna do iPhone */
  .iphone-container {
    position: relative;
    width: 400px; /* Define a largura do iPhone */
    height: auto;
    
  }

  /* Div de Glow */
  .iphone-glow {
    position: absolute;
    top: 76%;
    left: 50%;
    width: 497px;
    height: 524px;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 91%);
    filter: blur(40px);
    z-index: -1;
    opacity: 11.7;
}
  
  
  .iphone-frame {
    position: relative;
    width: 100%;
    display: block;
    z-index: 2;
    pointer-events: none;
  }
  
  .video-wrapper {
    position: absolute;
    top: 3%;
    left: 13%;
    width: 73%;
    height: 89%;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
  }
  
 /* Apenas para vídeos dentro da seção do iPhone */
.iphone-container video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
  }
  
  
  /* Estilo da coluna de lista */
  .features-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .features-list ul li {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 0.3rem; /* Espaçamento entre os itens da lista */
    display: flex;
    align-items: center;
  }
  

    .features-list ul li img {
        margin-left: 3px;
        width: 33px;
        height: auto;
    }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .iphone__grid {
      grid-template-columns: 1fr; /* Coloca em uma coluna só em telas menores */
      text-align: center;
    }
  
    .iphone-container {
      width: 80%; /* Ajusta a largura do iPhone em telas menores */
      margin: 0 auto; /* Centraliza o iPhone na tela */
    }
  }
  
  @media (max-width: 480px) {
    .iphone-container {
      width: 100%; /* Ajusta a largura do iPhone para telas bem pequenas */
    }
  
    .video-wrapper {
      top: 3%;
      left: 13%;
      width: 71%;
      height: 89%;
    }
  }
