/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES ===============*/
:root {
  --header-height: 3.5rem;
  
  /* Cores principais */
  --first-color: #028877;
  --first-color-alt: #90476A;
  --first-color-light: #42B4A3;

  /* Cores de texto e fundo */
  --title-color: hsl(228, 8%, 98%);
  --text-color: hsl(228, 8%, 70%);
  --white-color: hsl(228, 8%, 98%);
  --black-color: hsl(228, 6%, 4%);
  --body-color: #000523;
  --container-color: #000523;

  /* Sombras e gradientes */
  --shadow-img: 0 0 48px rgba(144, 71, 106, 0.4);
  --gradient-card: linear-gradient(180deg, #000523, #028877);

  /* Tipografia */
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

